.env
configuration.json
#animeList.txt
#node_modules
python_app/__pycache__/
/node_modules
/.vscode
/logs/post-anime-episodes-updates.txt
/logs/get-twitch-live-logs.txt
/logs/live-youtube-checks-logs.txt
/logs/tweets-logs.txt
